<div id="main">
    <div id="loginForm">
        <form method="post" action="/login_progress">
            <input type="text", name="id" placeholder="ID">
            <input type="password", name="pw" placeholder="PW">
            <input type="submit" text="LOGIN">
        </form>
    </div>
</div>